@model FoodOrderWebsite.Models.UserSetting

@{
    ViewBag.Title = "Cài đặt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; justify-content:center">
    <div style="width:90%; margin-left:450px;">

        @using (Html.BeginForm("Setting", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserID)

                <div class="image">
                    <img style="width:150px; height:150px; 
                            margin-left:70px; padding: 20px; margin-bottom: 20px;" 
                         src="~/Content/images/members/@Model.ImageURL" class="img-circle elevation-2" alt="Customer Image" />
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("(Mật khẩu được lưu dưới dạng mã hóa, vui lòng nhập lại mật khẩu hoặc mật khẩu mới để tiếp tục)", htmlAttributes: new { @class = "control-label col-md-5" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <input type="file" name="ImageUpload" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2" style="margin-left:80px;">
                        <button type="submit" class="btn btn-dark btn-block btn-lg"
                                data-mdb-ripple-color="dark">
                            Lưu
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


